h1 {

}

h2 {

}

h3 {
    margin-top: 25pt;
    margin-left: 250pt;

}

h4 {

}

h5 {

}

h6 {
    margin-left: 250pt;
}

.nav-tabs {
    margin-left: 250pt;
    margin-top: 10pt;
}

.dropdown {
    background-color: green;
    color: white;

    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.bg {
    background-color: white;
}

h6 {
margin-left: 250pt;
}

body {

}

p {

}

.header {

}

.footer {
    margin: 100%;
}

.list-group {
    margin-left: 250pt;
    margin-right: 400pt;

}

.navbar-brand {
    -webkit-text-fill-color: deepskyblue;
}

.nav-tabs {
    margin-right: 400pt;
}

.list-secondary {
    margin-top: 25pt;
    margin-right: 400pt;
    margin-left: 250pt;

}

.card {
    float: right;
    margin-left: 25pt;
    margin-right: 150pt;
    margin-top: -18.5pt;

}

.cardinfo {
    float: right;
    margin-left: 25pt;
    margin-right: 100pt;
    margin-top: -18.5pt;

}

.card-deck {

    float: right;
    margin-top: -250pt;
    margin-right: -5pt

}

.create {
    float: right;
    margin-top: -240pt;
    margin-right: 150pt;
}

.form {
    float: right;
    margin-top: -30pt;
    margin-right: 1045pt;

}

.button {
    margin-left: 250pt;

}

.table-bordered {
    margin-left: 250pt;

    border-collapse: collapse;
    width: 100%;
}

th, td {
    margin-right: 500pt;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.btn-outline-secondary {
    float: right;

}
#drop_zone {
    border: 5px dashed darkgrey;
    width:  800px;
    height: 250px;
    margin-left: 250pt;
}
.dndt{

}
.ufb{
    float: right;
    margin-right: 100pt;
    margin-top:30pt;
}
.visability{
    float: right;
    margin-right: 1100pt;
}
.cancel{
    float: right;
    margin-right: 1000pt;
    margin-top: 15pt;
}
.btmodl{
    float: left;
    margin-left: 10pt;
}
